<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <meta name="keywords" content="afiş">
    <meta name="description" content="Af-İş">

    <link rel="icon" href="http://www.af-is.com.tr/template/frontend/image/favicon.ico" type="image/x-icon">
    <link href="http://www.af-is.com.tr/template/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/index.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/style.css">

        <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/iletisim.css">
    </head>
<body>
     <header>
    <div class="container-fluid">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-phone fa-6" aria-hidden="true"></i>
                        <div class="tel">&nbsp;+90 272 215 44 15</div>
                    </div><!--colsm6-->
                    <div class="col-sm-6">
                        <div class="social">
                            <a href="https://www.facebook.com/afisdanismanlik/" target="_blank"><i class="fa fa-facebook fa-5" aria-hidden="true"></i></a>
                            <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter fa-5" aria-hidden="true"></i></a>
                            <a href="" target="_blank"><i class="fa fa-google-plus fa-5" aria-hidden="true"></i></a>
                            <a href="" target="_blank"><i class="fa fa-linkedin fa-5" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/proje.afis/" target="_blank"><i class="fa fa-instagram fa-5" aria-hidden="true"></i></a>
                        </div> <!--social-->
                    </div><!--colsm6-->
                </div><!--row-->
            </div><!--container-->
        </div><!--header-top-->
        
    </div> <!--container-fluid-->
</header>




<nav id="ddmenu">
    
    <ul>
        <li class="full-width">
          
              <li class="no-sub"><a class="top-heading" href="/posts/index">Dijital Girişimcilik</a></li>
        </li>
        
        <li>
            <a class="top-heading" href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/kosgeb">Kosgeb</a></li>

                        <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                        <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                        <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                            <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <li class="no-sub">
            <a class="top-heading"href="/posts/markapatent">Marka Patent</a>
        </li>
            <li>
            <a class="top-heading"href="/posts/digitalpara">Dijital Para</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/gramaltin">Gram Altın</a></li>
      <li><a href="/posts/dolar">Dolar</a></li>

      <li><a href="/posts/euro">Euro</a></li>

      <li><a href="/posts/bist">Bist-100</a></li>

      <li><a href="/posts/bitcoin">Bitcoin</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="no-sub">
            <a class="top-heading"href="/posts/iletisim">İletişim</a>
        </li>
       
    </ul>
</nav>





<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style type="text/css">
  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

.social-btns{
    font-size: 22px;
    list-style: none;
}

.social-btns li{
    margin-bottom: 5px;
}

.social-btns li i{
    font-size: 22px;
}

.social-btns .btn-facebook {
  background-color: #38519f;
  border-color: #293b75;
  color: #ffffff;
  min-width: 250px;
}

.social-btns .btn-facebook:hover {
  color: #ffffff;
  background-color: #293b75;
}

.social-btns .btn-twitter {
  background-color: #00a8fa;
  border-color: #048cce;
  color: #ffffff;
  min-width: 250px;
}

.social-btns .btn-twitter:hover {
  color: #ffffff;
  background-color: #048cce;
}

.social-btns .btn-linkedin {
  background-color: #00629e;
  border-color: #044a75;
  color: #ffffff;
  min-width: 250px;
}

.social-btns .btn-linkedin:hover {
  color: #ffffff;
  background-color: #044a75;
}

.social-btns .btn-google {
  background-color: #df270b;
  border-color: #a01b03;
  color: #ffffff;
  min-width: 250px;
}

.social-btns .btn-google:hover {
  color: #ffffff;
  background-color: #a01b03;
}

.social-btns .btn-tumblr{
    background-color: #274665;
    border-color: #182b3d;
    color: #ffffff;
    min-width: 250px;
}

.social-btns .btn-tumblr:hover {
  color: #ffffff;
  background-color: #182b3d;
}

.social-btns .btn-pinterest{
    background-color: #cc0000;
    border-color: #9b0404;
    color: #ffffff;
    min-width: 250px;
}

.social-btns .btn-pinterest:hover {
  color: #ffffff;
  background-color: #9b0404;
}
</style>
<table style="background-image: url(https://elevenews.com/wp-content/uploads/2018/06/bitcoin-1.jpg); background-size: cover;">
<tr> 
<th>
    <style type="text/css">
        ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
span{font-size:1.3em !important;}
span i{font-size:1.5em !important; padding-top:15px !important ;}
ul#navigation li {
    width: 100px;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 70px;    
    background-color:#e9e021;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

    </style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="container">
    <ul id="navigation">
            <li class="home"> <br><br><br><a href="/posts/altın" title="Home"><span> Altın <i class="fa fa-try"></i></span></a></li>

            <li class="about"><a href="/posts/dolar" title="About"><span>Dolar  <i class="  fa fa-usd"></i><br></span></a></li>
            <li class="search"><a href="/posts/euro" title="Search"><span>Euro  <i class="fa fa-euro"></i><br></span></a></li>
            <li class="contact"><a href="/posts/bist" title="Contact"><span>
                Bist-100  <i class="fa fa-btc"></i><br></span></a></li>
              <li class="contact"><a href="/posts/bitcoin" title="Contact"><span>BitCoin <br> <i class="fa fa-bitcoin"></i><br></span></a></li>
        </ul>
</div>
<script type="text/javascript">
      $(function() {
                $('#navigation a').stop().animate({'marginLeft':'-55px'},1000);

                $('#navigation > li').hover(
                    function () {
                        $('a',$(this)).stop().animate({'marginLeft':'-2px'},200);
                    },
                    function () {
                        $('a',$(this)).stop().animate({'marginLeft':'-55px'},200);
                    }
                );
            });
</script>
</th>
<th>
       <style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body { 
  font-family: 'Open Sans', 'sans-serif';
  color: #cecece;
  background: #222;
  overflow: hidden;
}

.item-1, 
.item-2, 
.item-3 {
 
    position: absolute;
  display: block;
    top: 2em;
  
  width: 40%;
  
  font-size: 1.3em;

    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-1{
    animation-name: anim-1;
}

.item-2{
    animation-name: anim-2;
}

.item-3{
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
    0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
    0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
</style>

<p class="item-1"  style="text-decoration-color: black"><br>
<br>
<br>
<br>Bitcoin'i çevreleyen karışıklığın bir kısmını kesmek için, onu iki bileşene ayırmamız gerekir. Bir yandan, dijital bir kavramın sahipliğini temsil eden bir kod parçacığı olan bitcoin-token (sanal bir IOU gibi) var. Öte yandan, bitcoin-the-token'in dengelerini tutan bir dağıtılmış ağ olan bitcoin-protocol'ınız var. Her ikisi de "bitcoin" olarak adlandırılır.</p>

<p class="item-2"><br>
<br>
<br>

<br>Sistem, banka veya ödeme ağ geçidi gibi merkezi bir makamdan geçmeden kullanıcılar arasında ödeme yapılmasını sağlar. Elektronik olarak oluşturulur ve düzenlenir. Bitcoins, dolar ya da avro gibi basılmamaktadır - özgür yazılım kullanarak dünyanın her yerinden bilgisayar tarafından üretilmektedir
</p>

<p class="item-3"><br>
<br>
<br>
<br>Bugün, kriptografiye dayanan doğrulama ile geleneksel para birimlerinin bazı özelliklerini paylaşan büyüyen bir varlık sınıfı olan kripto para birimleri dediğimiz şeyin ilk örneğiydi.</p>
</th>

</th>
<th><iframe src="https://tr.widgets.investing.com/top-cryptocurrencies?theme=lightTheme" width="100%" height="400%" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe><div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;">Araç Sağlayıcı: <a href="https://tr.investing.com?utm_source=WMT&amp;utm_medium=referral&amp;utm_campaign=TOP_CRYPTOCURRENCIES&amp;utm_content=Footer%20Link" target="_blank" rel="nofollow"></a></div>
</th>
</tr>
</table >



</body>
</html>