<!DOCTYPE html>
<html>
<head>
  <style >
    /*Baseline/Vertical Rhythm: 8px;*/
/*@import url(https://basehold.it/8);*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic|PT+Serif:400,400italic,700,700italic);
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  background: #fafafa;
  color: #333;
  /*Sometimes fonts don't display optimally on all devices*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /*font-weight:300;*/
}

a,.user {
  text-decoration: none;
  color: #88d;
}

a:hover {
  color: #5b5;
}

a.button {
  display: inline-block;
  text-align: center;
  padding: 14px 24px;
  font-weight: 600;
  cursor: pointer;
  line-height: 1;
  background: #88d;
}
p,
li,
time {
  font-size: 1.6rem;
  line-height: 3.2rem;
  margin: 0 0 2.4rem;
}
[class*="card-"] h1,
[class*="card-"] h2 {
  font: 600 2.4rem/3.2rem "PT Serif", palatino, times, serif;
  margin: 0 0 .8rem;
  padding: 0;
}
figure {
  position: relative;
  margin: 0;
  line-height: 0;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

img:hover {
  filter: alpha(opacity=9000);
  opacity: 0.90;
  filter: alpha(opacity=90);
}

article,
figure,
footer,
header,
main {
  display: block;
}
/*--- Clearings ---*/

header:before,
header:after,
main:before,
main:after {
  content: "";
  display: table;
}

header:after,
main:after {
  clear: both;
}

main {
  position: relative;
  width: 1200px;
  max-width: 96%;
  margin: 0 auto;
}


/*=== Avatars === */

img[class*="avatar-"] {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

img[class*="avatar-"] {
  border-radius: 50%
}

img.avatar-32 {
  width: 32px;
  height: 32px;
}

/*=== Cards === */

[class*="card-"],
[class*="card-"]>a {
  position: relative;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-bottom: 6rem;
  width: 100%;
  /*align-items: center;
  /*min-height: 100vh;*/
}


[class*="card-"] figure img {
  margin: 0 auto;
  display: block;
}
/*==  Horizontal Cards / Images inside container: 
object-fit to re-frame images rather than just stretch and resize them  === */

@media (min-width: 800px) and (max-width: 1200px) {
[class*="card-"] figure {
    vertical-align: middle;
    text-align: center;
    min-width: 250px;
    max-height: 100%;
}
[class*="card-"] figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
 }
}
.flex-content {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem;
}
.flex-content p,.flex-content li{
position: relative;
font-size: 1.6rem;
line-height: 3.2rem;
}
[class*="card-"] .flex-content p:last-child{margin-bottom: 0;}

[class*="card-"] p.user {
  position: relative;
  line-height: .8rem;
  font-size: 1.4rem;
}
[class*="card-"] p.subinfo {
  margin-bottom: .8rem;
}
/*== Social Card - Header === */
[class*="card-"] header p.user {
  margin: 0;
}

[class*="card-"] .user img[class*="avatar-"] {
  float: left;
}
[class*="card-"] .user span {
  display: block;
  margin-top: 1.3rem;
}

[class*="card-"] .flex-content a.button {
  float:right;
  font-weight:600;
  padding: .8rem;
  border-radius: 3px;
}

/* Featured/Popular/Buy*/

.ribbon-buy {
  position: absolute;
  z-index: 9999;
  top: -1px;
  right: 3.2rem;
  display: block;
  width: 48px;
  height: 48px;
  text-align: center;
  /* text-indent: -4000px; */
  font-size: 1.6rem;
  padding-top: 2.6rem;
  font-weight: 600;
}

.ribbon-buy:after {
  position: absolute;
  bottom: -8px;
  right: 0;
  content: "";
  border-bottom-width: 8px;
  -webkit-transform: scale(1.0001);
  -moz-transform: scale(1.0001);
}

.ribbon-buy:hover {
  height: 50px;
}

@media (min-width: 800px) {
  /*== Cards (Sizes) - Reference: figure img:-70,60,50,40,30... === */
  .card-30 figure,
  .card-70 .flex-content {
    width: 30%;
  }
  .card-40 figure,
  .card-60 .flex-content {
    width: 40%;
  }
  .card-50 figure,
  .card-50 .flex-content {
    width: 50%;
  }
  .card-60 figure,
  .card-40 .flex-content {
    width: 60%;
  }
  .card-70 figure,
  .card-30 .flex-content {
    width: 70%;
  }
  [class*="card-"]:nth-child(odd) figure {
    order: 0
  }
  [class*="card-"]:nth-child(even) figure {
    order: 1;
  }
  [class*="card-"]:nth-child(odd) .ribbon-buy {
    left: 3.2rem;
  }
  .flex-content {
    padding: 3.2rem 3.2rem 2.4rem;
  }
}
[class*="card-"] header {
  padding-bottom:1.6rem;
  margin-bottom: 1.4rem;
}

/*== Card - Mobile === */

@media (max-width: 799px) {
  [class*="card-"],
  [class*="card-"]>a {
    flex-flow: column;
  }
  .card figure,
  .card header {
    width: 100%
  }


  /*== Mobile Card - Header === */
  [class*="card-"] header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.4rem;
    margin-bottom:0;
  }
  [class*="card-"].social figure {
    margin-top: 8.1rem;
  }
}


/*== Card - Footer === */

[class*="card-"] footer {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  text-transform: lowercase;
}

[class*="card-"] footer p {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-top: .8rem;
  margin-bottom: 0;
}

[class*="card-"] a[class*="bt-"] {
  padding-left: 3rem;
  background-image: url('http://jlantunez.com/imgs/spritecard.png');
  background-repeat: no-repeat;
}
[class*="card-"] a.bt-love {
  background-position: 0 7px;
}

[class*="card-"] a.bt-love:hover {
  color: #f34;
  background-position: 0 -25px;
}

[class*="card-"] a.bt-share {
  background-position: 0 -56px;
}

[class*="card-"] a.bt-share:hover {
  background-position: 0 -90px;
}

[class*="card-"] a.bt-comment {
  background-position: 0 -123px;
}

[class*="card-"] a.bt-comment:hover {
  background-position: 0 -157px;
}
a.location {
  background: url('http://jlantunez.com/imgs/spritecard.png') no-repeat -4px bottom;
  padding-left: 2rem;
}

@media (max-width: 500px) {
  [class*="card-"] footer a[class*="bt-"] {
    text-indent: -4000px;
    width: 24px;
  }
}

/*== List Product/Specs === */

[class*="card-"] .flex-content ul {
  margin: 0 0 1.2rem;
  padding:0;
}
[class*="card-"] .flex-content li strong {width: 96px; display: inline-block;
}
[class*="card-"] .flex-content ul>li {
  margin: 0;
  padding: .4rem 0;
  list-style: none;
}

/*==== COLORS === */

main [class*="card-"] {
  background: #fff;
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.15), 0 0 1px rgba(50, 50, 50, 0.15);
}

/*[class*="card-"] figure {
  background: #eee;
}*/
[class*="card-"].social header {
  border-bottom:1px solid #eee;
}
@media (max-width: 799px) {
  [class*="card-"] header {
    background: #fff;
  border-bottom: 1px solid #eee;
 }
}

.user span,[class*="card-"] footer,[class*="card-"] .subinfo {
  color: #bbb;
}
[class*="card-"] a {
  color: inherit;
}
[class*="card-"] .ribbon-buy {
  color: #fff;
}

/*== Card - Footer === */

[class*="card-"] footer p {
  border-top: 1px solid #eee;
}


/* --- Featured / Popular --- */

.ribbon-buy,.ribbon-buy:hover {
  background: #a00;
  color: #fff;
}

.ribbon-buy:after {
  border: 24px solid transparent;
  border-top: none;
  border-bottom-width: 8px;
  border-left-color: #a00;
  border-right-color: #a00;
}
.ribbon-buy {
  background: #a00;
}
.ribbon-buy.popular{
  background-image: url('http://jlantunez.com/imgs/spritecard.png');
background-repeat:no-repeat; 
background-position:center 88%;
text-indent:-4000px;
}

[class*="card-"] a.button.followed,[class*="card-"] a.button:hover {
  background: #6c7;
}


[class*="card-"] ul>li {
  border-bottom: 1px solid #f5f5f5;
}

[class*="card-"] ul>li:last-child {border-bottom: none;}
[class*="card-"] a.button {color:#fff;}
[class*="card-"] footer a,
cite {
  color: #bbb;
}

[class*="card-"] footer a:hover {
  color: #333;
}
  </style>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
  <nav id="ddmenu">
    
    <ul>
        <li class="full-width">
          
              <li class="no-sub"><a class="top-heading" href="/posts/index">Dijital Girişimcilik</a></li>
        </li>
        
        <li>
            <a class="top-heading" href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/kosgeb">Kosgeb</a></li>

                        <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                        <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                        <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                            <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <li class="no-sub">
            <a class="top-heading"href="/posts/markapatent">Marka Patent</a>
        </li>
            <li>
            <a class="top-heading"href="/posts/digitalpara">Dijital Para</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/gramaltin">Gram Altın</a></li>
      <li><a href="/posts/dolar">Dolar</a></li>

      <li><a href="/posts/euro">Euro</a></li>

      <li><a href="/posts/bist">Bist-100</a></li>

      <li><a href="/posts/bitcoin">Bitcoin</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="no-sub">
            <a class="top-heading"href="/posts/iletisim">İletişim</a>
        </li>
       
    </ul>
</nav>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style >
  ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
span{font-size:1.3em !important;}
span i{font-size:1.5em !important; padding-top:15px !important ;}
ul#navigation li {
    width: 100px;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 70px;    
    background-color:blue;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="container">
  <ul id="navigation">
            <li class="home"><br><br><a href="/posts/tkdkdestek" title="Home"><span>TKDK <i class="fa fa-home"></i></span></a></li>
            <li class="about"><a href="/posts/tarimsalisletme" title="About"><span>101 <i class="fa fa-user-secret"></i></span></a></li>
            <li class="search"><a href="/posts/tarimvebalik" title="Search"><span>103 <i class="fa fa-search"></i></span></a></li>
            <li class="contact"><a href="/posts/ciftlik" title="Contact"><span>302  <i class="fa fa-commenting"></i></span></a></li>
        </ul>

<script >
    $(function() {
                $('#navigation a').stop().animate({'marginLeft':'-55px'},1000);

                $('#navigation > li').hover(
                    function () {
                        $('a',$(this)).stop().animate({'marginLeft':'-2px'},200);
                    },
                    function () {
                        $('a',$(this)).stop().animate({'marginLeft':'-55px'},200);
                    }
                );
            });
</script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<main role="main">
  <article class="card-60 social">
    <figure>
     
      <img src="http://www.kentvizyonhaber.com/wp-content/uploads/2014/12/bitkisel_urun_sigortasi.png" alt="La Sagrada Familia">
    </figure>
    <!-- end figure-->
    <div class="flex-content">
      
      <strong><h4>
302.1 Bitkisel üretimin çeşitlendirilmesi ve bitkisel ürünlerin işlenmesi ve pazarlanması
    </h4></strong>
      <p> Sektör için detaylar şöyledir:<br>

Bitkisel Üretimin Çeşitlendirilmesi, Bitkisel Ürünlerin İşlenmesi ve Pazarlanması<br>

• Depolama binaları ve makine garajlarının inşası ve modernizasyonu,<br>

• Toprağı işlemek için bahçe ve tarım ekipmanı alımı,<br>

• Mahsul üretimi için ekipman, makine (hasat makinesi, gübreleme makinesi, pulluk vb.) ve hasat sonrası malzemeler (ön soğutma ekipmanları, kasalar, kutular vb.) alımı,<br>

• Bitkilerin üretimi, depolanması/olgunlaştırılması, kurutulması, işlenmesi ve pazarlanması için ekipman alımı ve tesislerin inşası, modernizasyonu veya genişletilmesi,<br>

• Seraların inşası ve /veya yeniden kurulması (kısa ömürlü plastik hariç olmak üzere, özellikle cam, sert ve uzun ömürlü plastik veya diğer materyallerin kurulumu) ve/veya gerekli makine ve ekipman alımı,<br>

• Kendi tüketimi için yenilenebilir enerji üretimi amacıyla makine/ekipman alımı ve inşaat işleri.
      </p>
     
    </div>
    <!-- end .flex-content-->
  </article>
  <article class="card-50">
    <figure>
      <a href="" title="Buy">
    
      <img src="https://1.bp.blogspot.com/-rLZJFKW7Aos/Wfs_7YxQAvI/AAAAAAAAAdU/chH9EXnbTWoSPSYu1TMawoy6YK6W6zS1wCLcBGAs/s1600/balc%25C4%25B1.PNG" alt="Nike Shoes">
      </a>
    </figure>
    <!-- end figure-->
    <div class="flex-content">
       <h2>
302.2 Arıcılık ve arı ürünlerinin üretimi, işlenmesi ve pazarlanması
    </h2>
      
      <p>
       
• Bal ve arı ürünlerinin depolanması veya işlenmesi için garaj ve müştemilatının inşası,<br>

• Arı kovanlarının üretilmesi, yönetimi ve bakımı için çalışma ekipmanları alımı,<br>

• Çiftlik içerisinde balın işlenmesi ve paketlenmesi için işleme ve paketleme hatları satın alınması veya mevcut hatların modernizasyonu,<br>

• Lisanslı üreticiler tarafından ana arıların üretilmesi için yetiştirme istasyonlarının kurulması ve donatılması,<br>

• Kendi tüketimi için yenilenebilir enerji üretimi amacıyla makine/ekipman alımı ve inşaat işleri.

      </p>
      
    
    </div>

    <!-- end .flex-content-->
  </article>
  <article class="card-50">
    <figure>
     
       
         <img src="https://www.tkdk.gov.tr/Content/images/302-3.png" alt="Tapas"> 
    </figure>
    <!-- end figure-->
    <div class="flex-content">
       <h2>
302.3 Zanaatkarlık ve yerel ürün işletmeleri    </h2>
     
       <p>
     Her bir sektör için detaylar şöyledir:<br>

• İşletme binaları ve üretim tesislerinin inşası ve/veya modernizasyonu, kurulması, genişletilmesi ve yeniden inşası,<br>

• Yerel gıdalar ve tarımsal ürünlerin üretilmesi ve paketlenmesi için ve ayrıca el sanatları faaliyetleri için özel ekipman alımı,<br>

• Paketleme tesisleri, ekipmanı konusunda fiziksel yatırımlar,<br>

• Aynı il sınırları içerisinde yer alan dükkanlar ve standların kurulması dahil olmak üzere, katma değerli ürünler veya el sanatları için, tanıtım ve pazarlama ile ilişkili yatırımlar,<br>

• Kendi tüketimi için yenilenebilir enerji üretimi amacıyla makine/ekipman alımı ve inşaat işleri.<br>

      </p>

      
    </div>
    <!-- end .flex-content-->
  </article>
  <article class="card-40 social">
     <figure>
      <a href="" title="Buy">
    
      <img src="https://www.tkdk.gov.tr/Content/images/302-4.png">
      </a>
    </figure>
    <!-- end figure-->
    <div class="flex-content">
      
      <h2>
     302.4 Kırsal turizm ve rekreasyon faaliyetleri

    </h2>
      <p>
        Her bir sektör için detaylar şöyledir:<br>

• Pansiyonlar veya mikro/küçük ölçekli konaklama tesislerinin kurulması veya yeniden tefrişi, mevcut binalarda yatak & kahvaltı odalarının yenilenmesi veya çiftliklerde ve açık alanlarda konaklama amacıyla bina ve tesislerin inşası (örnek olarak, kamp yerleri, spor ve rekreasyon alanları),<br>

• Yeme içme tesisleri veya çiftlik ürünleri tanıtım stantlarının kurulması,<br>

• Özellikle dağ bisikleti, rafting, doğa yürüyüşleri olmak üzere, at biniciliği, spor veya iç sularda rekreasyon balıkçılığı gibi turistik açık alan aktivitelerinin organizasyonu ile doğrudan bağlantılı verimli altyapı yatırımları,<br>

• Eğer projenin entegre bir parçası ise gerekli bilgi teknolojileri ekipmanları ve yazılımların satın alınması,<br>

• Kendi tüketimi için yenilenebilir enerji üretimi amacıyla makine/ekipman alımı ve inşaat işleri,<br>

• Uygun ekipman: Aydınlatma ve tertibatı, havalandırma ekipmanı, filtreleme ve arıtma ekipmanları, haberleşme ekipmanları, mobilya, temizlik gereçleri, eğlence amaçlı ses ve görüntü ekipmanları,<br>

• Yeme içme tesisleri için mutfak ekipmanları.
      </p>
    </div>
    <!-- end .flex-content-->
  </article>
 <article class="card-60 social">
    <figure>
     
      <img src="http://www.aquapena.net/wp-content/uploads/2018/09/302-5.png" alt="La Sagrada Familia">
    </figure>
    <!-- end figure-->
    <div class="flex-content">
      
      <strong><h4>
302.5 Su Ürünleri Yetiştiriciliği
    </h4></strong>
      <p> Her bir sektör için detaylar şöyledir:<br>

• Balık üretme çiftliği için ekipman alımı ve inşaat işleri,<br>

• Özellikle balık üretme çiftlikleri için, çiftlik faaliyetlerinin etkinliğinin artırılması, atık su arıtma sistemleri, balık seçimi, kapalı devre sistemlerle ilgili ekipman ve makine alımı,<br>

• Su ürünleri restoranları kurmak üzere ekipman alımı,

• Havuzlar ve rezervuarların geliştirilmesi,<br>

• Üretim süreçlerinin etkinliğinin artırılması için ekipman; besleme, balık yemleme veya besleme otomasyon ekipmanı optimizasyonu için ekipman; su devridaim sistemleri için ekipman,<br>

• Yumurta ve yavru balık üretimi için ekipman satın alınması ve inşaat işleri,<br>

• Üretim ve hasat konusunda kalite ve hijyen koşullarının iyileştirilmesi için ekipmanlar,<br>

• Su ürünleri işletmelerinin yaptığı çevresel etkilerin azaltılması için ekipman: atık yönetim sistemleri, havuzlar ve rezervuarlardan serbest bırakılan suların arıtılması için ekipman ve su kalitesi parametrelerinin niteliğini izlemek için ekipman,<br>

• Hasat sonrası ürünün depolanması için küçük soğuk hava depolarının kurulması,<br>

• Su ürünleri işletmelerinin modernizasyonu, inşası ve genişletilmesi, ve su ürünleri işletmesi ile aynı ilde yer alan su ürünleri restoranları ve satış noktalarının modernizasyonu, inşası ve genişletilmesi,<br>

• Kendi tüketimi için yenilenebilir enerji üretimi amacıyla makine/ekipman alımı ve inşaat işleri.
      </p>
     
    </div>
    <!-- end .flex-content-->
  </article>
  <article class="card-50">
    <figure>
      <a href="" title="Buy">
    
      <img src="https://www.tkdk.gov.tr/Content/images/302-6.png" alt="Nike Shoes">
      </a>
    </figure>
    <!-- end figure-->
    <div class="flex-content">
       <h2>
302.6 Makine Parkları
    </h2>
      
      <p>
       Her bir sektör için detaylar şöyledir:<br>

• Makine ve ekipmanın saklanması için binaların inşası, yenilenmesi veya genişletilmesi,<br>

• Tarımsal makine, alet ve ekipmanların alımı,<br>

• Kendi tüketimi için yenilenebilir enerji üretimi amacıyla makine/ekipman alımı ve inşaat işleri

      </p>
      
    
    </div>

    <!-- end .flex-content-->
  </article>
  <article class="card-50">
    <figure>
     
       
         <img src="https://www.tkdk.gov.tr/Content/images/302-7.png" alt="Tapas"> 
    </figure>
    <!-- end figure-->
    <div class="flex-content">
       <h2>302.7 Yenilenebilir Enerji Yatırımları    </h2>
     
       <p>
      Her bir sektör için detaylar şöyledir:<br>

Çiftlik faaliyetlerinin çeşitlendirilmesi ve iş geliştirme faaliyetlerinden bağımsız olarak gelir elde etmek için - hidroelektrik hariç - yenilenebilir enerji üretimi konusunda yapılan yatırımlar için:<br>

• Yenilenebilir enerji tesislerinin inşası, modernizasyonu, genişletilmesi,<br>

• Yenilenebilir enerji tesislerinin sabit makine ve ekipmanı,
<br>
• Yenilebilir enerji tesislerinin işletilmesi için bilgi teknolojileri donanım ve yazılımları.
      </p>

      
    </div>
    <!-- end .flex-content-->
  </article>
</main>
</div>
</body>
</html>