<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <meta name="keywords" content="afiş">
    <meta name="description" content="Af-İş">

    <link rel="icon" href="http://www.af-is.com.tr/template/frontend/image/favicon.ico" type="image/x-icon">
    <link href="http://www.af-is.com.tr/template/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/index.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/style.css">

        <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/iletisim.css">
    </head>
<body style="background-color:  #8fe2dd">
     <header>
    <div class="container-fluid">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-phone fa-6" aria-hidden="true"></i>
                        <div class="tel">&nbsp;+90 272 215 44 15</div>
                    </div><!--colsm6-->
                    <div class="col-sm-6">
                        <div class="social">
                            <a href="https://www.facebook.com/afisdanismanlik/" target="_blank"><i class="fa fa-facebook fa-5" aria-hidden="true"></i></a>
                            <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter fa-5" aria-hidden="true"></i></a>
                            <a href="" target="_blank"><i class="fa fa-google-plus fa-5" aria-hidden="true"></i></a>
                            <a href="" target="_blank"><i class="fa fa-linkedin fa-5" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/proje.afis/" target="_blank"><i class="fa fa-instagram fa-5" aria-hidden="true"></i></a>
                        </div> <!--social-->
                    </div><!--colsm6-->
                </div><!--row-->
            </div><!--container-->
        </div><!--header-top-->
        
    </div> <!--container-fluid-->
</header>
<nav id="ddmenu">
    
    <ul>
        <li class="full-width">
          
              <li class="no-sub"><a class="top-heading" href="/posts/index">Dijital Girişimcilik</a></li>
        </li>
        
        <li>
            <a class="top-heading" href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/kosgeb">Kosgeb</a></li>

                        <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                        <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                        <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                            <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <li class="no-sub">
            <a class="top-heading"href="/posts/markapatent">Marka Patent</a>
        </li>
            <li>
            <a class="top-heading"href="/posts/digitalpara">Dijital Para</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/gramaltin">Gram Altın</a></li>
      <li><a href="/posts/dolar">Dolar</a></li>

      <li><a href="/posts/euro">Euro</a></li>

      <li><a href="/posts/bist">Bist-100</a></li>

      <li><a href="/posts/bitcoin">Bitcoin</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="no-sub">
            <a class="top-heading"href="/posts/iletisim">İletişim</a>
        </li>
       
    </ul>
</nav>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
 <style >
     @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
 </style>
<div class="container">
    <div class="jumbotron jumbotron-sm" id="kutu" style="background-image: url(https://www.kibar.com/-/media/images/pages/info/bize-ulasin-banner.ashx?h=448&la=en&w=1366&hash=C7A4507C7CB85C51D0F2B9C49B47E46AB925C6DD);   margin-top:2%;color:white;">
       
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h2" style="margin-top:23% ">
                
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:blue"></i> <br> <br> Adres:</h3>               
                <p style="margin-top:6%;line-height:35%">Afyon/Merkez</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:blue"></i><br> <br> E-Mail Adresimiz:</h3>
                <p style="margin-top:6%;line-height:35%">info@birisi.com</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:blue"></i><br> <br> Sorumlu Kişi:</h3>
                <p style="margin-top:6%;line-height:35%">Sorumlu Kişi</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:blue"></i><br> <br> Destek Merkezi:</h3>
                <p style="margin-top:6%;line-height:35%"><a href="siteadresi.com/destek"> Cumhuriyet Mahallesi Kadınana Cad. No:118/2/2 Afyonkarahisar</a></p>
            </div>
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/d/embed?mid=1S5Ni4aPqT-jXT8g8K-NV6NQfTSjx0XaB" width="640" height="480"></iframe>
        </div>
    </div>
</div>
       





<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
</head>



<footer class="footer-section bg-with-black">
    <head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
</head>
  <style >
    footer.footer-section {
    background: rgba(0, 0, 0, 0) url("https://steamusercontent-a.akamaihd.net/ugc/841462312537004306/7F7B796630528B63111AAB8B950D9F358CAC4219/") no-repeat scroll left top / cover;
    padding: 60px 0 50px;
    background-size: cover;
}
.bg-with-black {
    position: relative;
}
.footer-top-section {
    margin: 0 0 47px;
}
.single-fta > img {
    margin: 0 0 7px;
    width: 170px;
    height: 170px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.single-fta ul.fta-list li, .single-fta ul.fta-list li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 36px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.fta-title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 20px;
}

.fba-links {
    text-align: right;
}

.fba-links ul li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
}
.fba-links ul {
    list-style: outside none none;
    padding: 0;
}
.fba-links ul li {
    display: inline-block;
    margin-left: 28px;
}
.fba-copyright p {
    color: #aaaaaa;
    line-height: 30px;
}
  </style>
        <div class="footer-top-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <img src="../assets/logo.jpg" alt="">
                            <ul class="fta-list">
                                <li><a href="/posts/index"><span class="glyphicon glyphicon-chevron-right"></span> Dijital Girişimcilik</a></li>
                                <li><a href="/posts/danismanlikhizmet"><span class="glyphicon glyphicon-chevron-right"></span> Danışmanlık Hizmetleri</a></li>

                                <li><a href="/posts/markapatent"><span class="glyphicon glyphicon-chevron-right"></span>Marka Patent</a></li>
                                  <li><a href="/posts/digitalpara"><span class="glyphicon glyphicon-chevron-right"></span>Dijital Para</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">Danışmanlık Hizmetleri</h3>
                            <ul class="fta-list">
                                <li><a href="/posts/kosgeb">Kosgeb</a></li>

                                <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                                <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                                <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                                <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">Dijital Para</h3>
                            <ul class="fta-list">
                                <li><a href="/posts/gramaltin">Gram Altın</a></li>
                                  <li><a href="/posts/dolar">Dolar</a></li>

                                    <li><a href="/posts/euro">Euro</a></li>

                                <li><a href="/posts/bist">Bist-100</a></li>
                                 <li><a href="/posts/bitcoin">Bitcoin</a></li>


                              
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">İletişim</h3>
                            <ul class="fta-list">
                                <li>Address: Cumhuriyet Mah. Kadınana Cad. No:118/2/ AFYONKARAHİSAR</li>
                                <li>Phone: (0272) 215 43 23  GSM:0545 230 15 34</li>
                                <li>Email: turhan@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer-bottom">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="fba-copyright">
                                        <p>AYŞEGÜL SELEK /YAZILIM MÜHENDİSİ tarafından design edildi.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="fba-links">
                                        <ul>
                                            <li><a  href="/posts/index">Dijital Girişimcilik</a></li>

                                            <li><a href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a></li>

                                            <li><a href="/posts/markapatent">Marka Patent</a></li>

                                            <li><a href="/posts/digitalpara">Dijital Para</a></li>

                                            <li><a href="/posts/iletisim">İletişim</a></li>
                                        </ul>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>