<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <meta name="keywords" content="afiş">
    <meta name="description" content="Af-İş">

    <link rel="icon" href="http://www.af-is.com.tr/template/frontend/image/favicon.ico" type="image/x-icon">
    <link href="http://www.af-is.com.tr/template/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/index.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/style.css">

        <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/iletisim.css">
    </head>
<body>
     <header>
    <div class="container-fluid">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-phone fa-6" aria-hidden="true"></i>
                        <div class="tel">&nbsp;+90 272 215 44 15</div>
                    </div><!--colsm6-->
                    <div class="col-sm-6">
                        <div class="social">
                            <a href="https://www.facebook.com/afisdanismanlik/" target="_blank"><i class="fa fa-facebook fa-5" aria-hidden="true"></i></a>
                            <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter fa-5" aria-hidden="true"></i></a>
                            <a href="" target="_blank"><i class="fa fa-google-plus fa-5" aria-hidden="true"></i></a>
                            <a href="" target="_blank"><i class="fa fa-linkedin fa-5" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/proje.afis/" target="_blank"><i class="fa fa-instagram fa-5" aria-hidden="true"></i></a>
                        </div> <!--social-->
                    </div><!--colsm6-->
                </div><!--row-->
            </div><!--container-->
        </div><!--header-top-->
        
    </div> <!--container-fluid-->
</header>
<nav id="ddmenu">
    
    <ul>
        <li class="full-width">
          
              <li class="no-sub"><a class="top-heading" href="/posts/index">Dijital Girişimcilik</a></li>
        </li>
        
        <li>
            <a class="top-heading" href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/kosgeb">Kosgeb</a></li>

                        <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                        <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                        <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                            <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <li class="no-sub">
            <a class="top-heading"href="/posts/markapatent">Marka Patent</a>
        </li>
            <li>
            <a class="top-heading"href="/posts/digitalpara">Dijital Para</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/gramaltin">Gram Altın</a></li>
      <li><a href="/posts/dolar">Dolar</a></li>

      <li><a href="/posts/euro">Euro</a></li>

      <li><a href="/posts/bist">Bist-100</a></li>

      <li><a href="/posts/bitcoin">Bitcoin</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="no-sub">
            <a class="top-heading"href="/posts/iletisim">İletişim</a>
        </li>
       
    </ul>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 ">
                   <div class="col-sm-12 ust h">
                        <div class="col-sm-12">
                            <img src="http://www.revadanismanlik.com/wp-content/uploads/2018/06/kalkinma-ajansi-destekleri.jpg" width="300" class="destek-img">
                        </div>

                    </div>
 
           <p><font size="4" face="Times">
Ulusal kalkınmanın yerelden güçlendirilmesi, bölgesel potansiyellerin yerelde yoğunlaşan çalışmalarla harekete geçirilmesi, bölgeler arası ve bölge içi gelişmişlik farklarının azaltılması hedefleri, 2004-2006 dönemini içine alan Ön Ulusal Kalkınma Planı’nın önemli bir boyutunu teşkil etmiştir.<br>
<br>
<br>

Bu doğrultuda, ülkemiz genelinde İstatistiki Bölge Birimleri Sınıflandırmasına (İBBS / NUTS) göre tanımlanan 26 adet “Düzey 2” Bölgesinde Kalkınma Ajansları kurulması öngörülmüş, bu amaçla 5449 Sayılı Kanun yürürlüğe girmiştir.<br>
<br>
<br>

T.C. Zafer Kalkınma Ajansı*, Afyonkarahisar, Kütahya, Manisa ve Uşak illerimizi kapsayan ve ‘TR33’ olarak sınıflandırılan bölgede hizmet vermek üzere 14.7.2009 tarihli Bakanlar Kurulu Kararı ile kurulmuş olup, ülkemiz genelinde Devlet Planlama Teşkilatı’nın koordinasyonu ile kurulması öngörülmüş toplam 26 adet Kalkınma Ajansı arasındaki yerini almıştır.<br>
<br>
<br>

T.C. Zafer Kalkınma Ajansı Genel Sekreterliği Kütahya ilimizdedir. Afyonkarahisar, Manisa ve Uşak illerimizde Genel Sekreterliğe bağlı Yatırım Destek Ofisleri hizmet vermektedir.<br>
<br>
<br>

Kalkınma olgusunun, iktisadi, sosyal, kültürel ve diğer tüm boyutlarıyla kapsamlı ve bütünsel niteliği doğrultusunda, Ajansımız Bölge’de şu ana eksenlerde çalışmalarda bulunmaktadır:<br>
<br>

Bölgesel kalkınmayı ilgilendiren konularda, kamu, özel kesim, sivil toplum temsilcileri ve bilim insanları arasında iletişim ve işbirliğini geliştirmek, bu aktörlerin çalışmaları arasında bağlar oluşturmak suretiyle kalkınma bilincini ve ivmesini arttırmak, bölgesel kalkınma konusunda koordinatör ve katalizör bir rol üstlenmek.<br>
<br>

Bölgenin kaynak ve olanaklarını tespit etmeye, iktisadi ve toplumsal gelişmeyi hızlandırmaya, rekabet gücünü arttırmaya ve potansiyel gelişim alanlarını ön plana çıkarmaya yönelik araştırmalar yapmak.<br>
<br>

Bölgede yerli ve yabancı yatırımların stratejik ve planlı şekilde arttırılması yönünde tanıtım ve rehberlik hizmetlerinde bulunmak.<br>
<br>

Ayrıca Ajans, söz konusu eksenlerdeki amaçlara ulaşılması sürecinin hızlandırılması ve bölge için kritik öneme sahip faaliyetlerin kısa sürede hayata geçirilmesi amacıyla mali ve teknik desteklerde bulunmaktadır. Bu desteklerden işletmelerimiz, sivil toplum örgütleri, kamu kurum ve kuruluşları, üniversiteler yararlanabilmektedir. Ajansın sunacağı mali destekler arasında, doğrudan finansman desteği (proje teklif çağrıları, güdümlü proje destekleri ve doğrudan faaliyet destekleri), faiz desteği ve faizsiz kredi destekleri yer almaktadır. Ajans ayrıca eğitim, proje hazırlama, danışmanlık, uzman personel görevlendirme, lobi ve uluslararası ilişkiler gibi konularda yerel yönetimlere, diğer kamu kurum ve kuruluşlara ve bölgedeki sivil toplum kuruluşlarına teknik desteklerde bulunmaktadır.<br>
<br>

Ajans bütçesi büyük oranda Genel Bütçe transferlerinden oluşmakla birlikte, dört ilimizdeki Belediyeler, İl Özel İdareleri, Ticaret ve Sanayi Odaları’ndan yapılan transferler de önemli katkı sağlamaktadır. Bu çerçevede Ajans, ulusal kaynakların bölgemizin kalkınmasına aktarılmasında aracı kurum niteliğindedir.<br>
<br>
<br>
Ajans tüm bu faaliyetlerini Ulusal Kalkınma Planı ve Programlar ışığında yapacağı Bölge Planı ve programlarına uygun olarak gerçekleştirmekle yükümlüdür.<br>
<br>

Özel Sektör-Kamu işbirliğini gözeten Yönetim Kurulu, danışma organı niteliğinde olan ve katılımcılığı ön plana çıkaran Kalkınma Kurulu ve teknik kapasitesi yüksek uzman personel barındıran, esnek hareket edebilen, küçük fakat etkin, dinamik bir yapıyla faaliyet gösteren Genel Sekreterlik organları ile Zafer Kalkınma Ajansı, Afyonkarahisar, Kütahya, Manisa ve Uşak illerimizde iktisadi ve beşeri gelişimin öncüsü, bölgesel kalkınmanın odağı olma vizyonunu taşımaktadır. </font> </p>

                </div>

             
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Magic Stores s.r.o.">

</head>


          
<div class="col-md-4 col-lg-4" >
    <div class="list-group">
    <a class="list-group-item" href="/posts/tkdkdestek" style="background-color: #56c8c5">TKDK DESTEKLERİ</a>
    <a class="list-group-item" href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a>
    <a class="list-group-item"href="/posts/kalkinmaajansdestek" style="background-color: #56c8c5">KALKINMA AJANSI DESTEKLERİ</a>
    <a class="list-group-item" href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a>
        <a class="list-group-item" href="/posts/avrupabirlikdestek" style="background-color: #56c8c5">AVRUPA BİRLİĞİ DESTEKLERİ</a>
    <a class="list-group-item" href="/posts/kosgeb">KOSGEB DESTEKLERİ</a>
  </div>
</div>         
    </div> 

  </div>
</div>
</div>

        </div>
    </div>
</div>










<footer class="footer-section bg-with-black">
    <head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
</head>
  <style >
    footer.footer-section {
    background: rgba(0, 0, 0, 0) url("https://steamusercontent-a.akamaihd.net/ugc/841462312537004306/7F7B796630528B63111AAB8B950D9F358CAC4219/") no-repeat scroll left top / cover;
    padding: 60px 0 50px;
    background-size: cover;
}
.bg-with-black {
    position: relative;
}
.footer-top-section {
    margin: 0 0 47px;
}
.single-fta > img {
    margin: 0 0 7px;
    width: 170px;
    height: 170px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.single-fta ul.fta-list li, .single-fta ul.fta-list li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 36px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.fta-title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 20px;
}

.fba-links {
    text-align: right;
}

.fba-links ul li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
}
.fba-links ul {
    list-style: outside none none;
    padding: 0;
}
.fba-links ul li {
    display: inline-block;
    margin-left: 28px;
}
.fba-copyright p {
    color: #aaaaaa;
    line-height: 30px;
}
  </style>
        <div class="footer-top-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <img src="../assets/logo.jpg" alt="">
                            <ul class="fta-list">
                                <li><a href="/posts/index"><span class="glyphicon glyphicon-chevron-right"></span> Dijital Girişimcilik</a></li>
                                <li><a href="/posts/danismanlikhizmet"><span class="glyphicon glyphicon-chevron-right"></span> Danışmanlık Hizmetleri</a></li>

                                <li><a href="/posts/markapatent"><span class="glyphicon glyphicon-chevron-right"></span>Marka Patent</a></li>
                                  <li><a href="/posts/digitalpara"><span class="glyphicon glyphicon-chevron-right"></span>Dijital Para</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">Danışmanlık Hizmetleri</h3>
                            <ul class="fta-list">
                                <li><a href="/posts/kosgeb">Kosgeb</a></li>

                                <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                                <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                                <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                                <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">Dijital Para</h3>
                            <ul class="fta-list">
                                <li><a href="/posts/gramaltin">Gram Altın</a></li>
                                  <li><a href="/posts/dolar">Dolar</a></li>

                                    <li><a href="/posts/euro">Euro</a></li>

                                <li><a href="/posts/bist">Bist-100</a></li>
                                 <li><a href="/posts/bitcoin">Bitcoin</a></li>


                              
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">İletişim</h3>
                            <ul class="fta-list">
                                <li>Address: Cumhuriyet Mah. Kadınana Cad. No:118/2/ AFYONKARAHİSAR</li>
                                <li>Phone: (0272) 215 43 23  GSM:0545 230 15 34</li>
                                <li>Email: turhan@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer-bottom">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="fba-copyright">
                                        <p>AYŞEGÜL SELEK /YAZILIM MÜHENDİSİ tarafından design edildi.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="fba-links">
                                        <ul>
                                            <li><a  href="/posts/index">Dijital Girişimcilik</a></li>

                                            <li><a href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a></li>

                                            <li><a href="/posts/markapatent">Marka Patent</a></li>

                                            <li><a href="/posts/digitalpara">Dijital Para</a></li>

                                            <li><a href="/posts/iletisim">İletişim</a></li>
                                        </ul>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>