<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <meta name="keywords" content="afiş">
    <meta name="description" content="Af-İş">

    <link rel="icon" href="http://www.af-is.com.tr/template/frontend/image/favicon.ico" type="image/x-icon">
    <link href="http://www.af-is.com.tr/template/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/index.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/style.css">

        <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/iletisim.css">
    </head>
<body>
  
<nav id="ddmenu">
    
    <ul>
        <li class="full-width">
          
              <li class="no-sub"><a class="top-heading" href="/posts/index">Dijital Girişimcilik</a></li>
        </li>
        
        <li>
            <a class="top-heading" href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/kosgeb">Kosgeb</a></li>

                        <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                        <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                        <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                            <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <li class="no-sub">
            <a class="top-heading"href="/posts/markapatent">Marka Patent</a>
        </li>
            <li>
            <a class="top-heading"href="/posts/digitalpara">Dijital Para</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/gramaltin">Gram Altın</a></li>
      <li><a href="/posts/dolar">Dolar</a></li>

      <li><a href="/posts/euro">Euro</a></li>

      <li><a href="/posts/bist">Bist-100</a></li>

      <li><a href="/posts/bitcoin">Bitcoin</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="no-sub">
            <a class="top-heading"href="/posts/iletisim">İletişim</a>
        </li>
       
    </ul>
</nav>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!-- font-awesome icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
<!-- header css -->
<link rel="stylesheet" href="post.css">

</head>



<div class="post" id="post1"  ><style >

.post {
  position: relative;
  width: 92vw;
  height: auto;
  margin: auto;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  margin-bottom: 3rem;
}
.post .caption {
  position: relative;
  height: inherit;
  background-color: inherit;
  padding: 10px;
}
.post .content {
  position: relative;
  height: inherit;
  padding: 10px;
}
.post .content .img {
  width: 100%;
  height: auto;
}
.post .meta {
  float: left;
  padding-left: 1rem;
  size: .6rem;
  color: #000;
}
.post .caption .text {
  margin: .5rem 0;
}
.post .category {
  visibility: hidden;
}

/*=== Large devices (desktops, 992px and up) ===*/
@media (min-width: 992px) {
.post {
  width: 75vw;
  height: 500px; 
}
.post .caption {
  float: left;
  padding: 2rem;
}
.post .content {
  float: left;
  padding: 0;
}
.post .content .img {
  height: 100%;
}
.post .category {
  visibility: visible;
}
}

/* =======================================
 post#1
========================================*/
/*=== Large devices (desktops, 992px and up) ===*/
@media (min-width: 992px) {
#post1 {
  background-color:#2bbdb9;
  color: green;
}
#post1 .caption {
  width: 30%;
}
#post1 .caption .meta {
  float: left;
  padding-left: 1rem;
  color: #808080;
}
#post1 .caption .text {
}
#post1 .category {
  position: absolute;
  top: 10%;
  right: 0;
  padding: .5rem;
  background-color: #808080;
  z-index: 5;
}
#post1 .content {
  width: 70%;
}
}

/* =======================================
 post#2
========================================*/

/*=== Large devices (desktops, 992px and up) ===*/
@media (min-width: 992px) {

#post2 { background-color:#2bbdb9;
}
#post2 .caption {
  width: 30%;
}
#post2 .content {
  width: 70%;
}
#post2 .caption .content {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  padding: 0;
  transform: translate(-50%, -50%);
  text-align: center;
}
#post2 .caption .text {
  color: white;
}
}

/* =======================================
 post#3
========================================*/

/*=== Large devices (desktops, 992px and up) ===*/
@media (min-width: 992px) {
#post3 {
}
#post3 .content {
  width: 30%;
}
#post3 .content .img {
  position: absolute;
  top: 0;
}
#post3 .caption {
  width: 70%;
  background-color:#2bbdb9;
  color: #fff;
}
#post3 .caption .text {
  position: absolute;
  top: 50%;
  padding: 2rem;
  transform: translate(0, -50%);
  color: #ddd;
}
#post3 .caption .category {
  margin-top: 1rem; 
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400; 
}
}

/* =======================================
 post#4
========================================*/

/*=== Large devices (desktops, 992px and up) ===*/
@media (min-width: 992px) {
#post4 {
}
#post4 .caption {
  width: 60%;
  background-color:#fff;
  color: #212226;
}
#post4 .caption .text {
  position: absolute;
  top: 50%;
  padding: 2rem;
  transform: translate(0, -50%);
  color: #212226;
}
#post4 .category {
  position: absolute;
  top: 5%;
  right: 2rem;
  padding: .5rem;
  z-index: 5;
  color: #808080;
  display: inline-block;
}
#post4 .category::before {
  content:'';
  position: absolute;
  top: -40%;
  left: 100%;
  width: 2rem;
  height: 100%;
  display: inline-block;
  margin-right: 100%;
  border-bottom: 2px solid #000;
}
#post4 .content {
  width: 40%;
}
#post4 .content .img {
  position: absolute;
  top: 0;
}
}

/* =======================================
 post#5
========================================*/
#post5 {
  background-color:#212226;
  color: #fff;
}
t5 .images {
  overflow:hidden
}
#post5 .images .img {
  float: left;
  width: 50%;
  height: 150px;
  opacity: 1;
}

/*=== Large devices (desktops, 992px and up) ===*/
@media (min-width: 992px) {
#post5 {
}
#post5 .caption {
  width: 30%;
}

#post5 .caption .text {
  color: #ddd;
}
#post5 .content {
  width: 70%;
  padding: 2rem;
}
#post5 .images .img {
  height: 50%;
  opacity: .6;
}
#post5 .images .img:hover {
  opacity: 1;
}
} 


/* =======================================
demo css
========================================*/

/*=== for demo only ===*/

.demo-title {
  text-align: center;
  color: #808080;
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.post {
  border: 1px solid #eee;
  /* box-shadow: 2px 2px 2px 2px #ddd; */
}
.demo-more {
  text-align: center;
  color: #808080;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.demo-more i {
  color: #696969;
}
.update-note {
  position: absolute;
  top: 2%;
  left: 2%;
  background-color: rgb(33, 33, 33);
  color: #fff;
  border-radius: 10px;
  padding: 0 15px;  
}


</style>

    <div class="caption">
        
        <div class="text">
            <p> <h3>MARKA NEDİR ?</h3>
Marka bir işletmenin tüm varlıklarını temsil eden, benzer mal ve hizmetlerini diğer işletmelerin mal ve hizmetlerinden farklı kılmak için kullanılan ayırt edici işarettir. İşletmelerin ticari hayatlarında önemli bir rol oynayan, kimliklerini yansıtan parmak izidir. Tüketiciye ürünün kaynağını gösterir, bir kalite simgesi ve tanıtım aracıdır.</p>
        </div>
    </div><!-- / .caption -->
   
    <div class="content">
        <img src="https://img.scoop.it/XqsQMHmsILkRKGC7OHT3ITl72eJkfbmt4t8yenImKBVvK0kTmF0xjctABnaLJIm9" class="img" alt="">
    </div><!-- / .content -->
</div>
    
<!-- post #2 -->
<div class="post" id="post2">
    <div class="caption">
        <div class="content">
           
            <div class="text">
                <p><h3>MARKA TESCİL BAŞVURUSU NEDEN GEREKLİDİR?</h3>
-KOSGEB teşviklerinden faydalanmak için : Fuar standı ve katalog basımı gibi teşviklerde başvuru koşulları arasında marka tescil belgesi olması,
-Türk Patent Enstitüsü' nce Tescil edilmemiş olan markanız yasal olarak size ait değildir.
-Ticaret odalarında almış olduğunuz unvan sadece ticari unvanınızdır. Markanız değildir. Ticaret siciline kayıt ettirilmiş unvanlar 6769 sayılı sınai mülkiyet kanunu uyarınca korunmamaktadır.
-Tescil edilmiş olan markanızı bir başkasına devredebilir ya da kullanım hakkını (Lisans) verebilirsiniz, böylece ticari bir kazanç sağlamış olursunuz.</p>
            </div>
        </div>
    </div><!-- / .caption -->
    <div class="content">
        <img src="http://www.avrupapatent.com/media/images/markada-sinif-kavrami.jpg" class="img" alt="">
    </div><!-- / .content-->
</div>

<!-- post #3 -->
<div class="post" id="post3">
    <div class="content">
        
        <img src="https://www.turkticaret.net/siberhosting/sablon_sayfalar/uploads/patent-alma-sureci.png" class="img" alt="">
    </div><!-- / .img -->        
    <div class="caption">
        <div class="text">
     
           
            
            <p><h3>MARKA BAŞVURU SÜRECİ</h3><br>
-Marka tescil başvurusu Türk Patent Enstitüsüne yapılır.<br>
-6 Ay sonra marka resmi markalar bülteninde ilan edilir.<br>
-3 Ay bültende itiraza açılır.<br>
-Belge kararı çıkar ve 2 ay sonra tescil belgeniz tarafınıza teslim edilir.<br><br>
<h3>GEREKLİ EVRAKLAR:
</h3><br>
<br>

-Başvurusu yapılacak markanın logo, yazı karakteri<br>
-Vekaletname (firmamız tarafından düzenlenmekte, noter onayı gerektirmemektedir.)<br>
-Tüzel kişi ise firma unvanı, vergi dairesi ve numarası<br>
-Özel kişi ise TC kimlik numarası<br>
-Adres</p>
        </div>
    </div><!-- / .caption -->
</div>


<footer class="footer-section bg-with-black">
    <head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
</head>
  <style >
    footer.footer-section {
    background: rgba(0, 0, 0, 0) url("https://steamusercontent-a.akamaihd.net/ugc/841462312537004306/7F7B796630528B63111AAB8B950D9F358CAC4219/") no-repeat scroll left top / cover;
    padding: 60px 0 50px;
    background-size: cover;
}
.bg-with-black {
    position: relative;
}
.footer-top-section {
    margin: 0 0 47px;
}
.single-fta > img {
    margin: 0 0 7px;
    width: 170px;
    height: 170px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.single-fta ul.fta-list li, .single-fta ul.fta-list li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 36px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.fta-title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 20px;
}

.fba-links {
    text-align: right;
}

.fba-links ul li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
}
.fba-links ul {
    list-style: outside none none;
    padding: 0;
}
.fba-links ul li {
    display: inline-block;
    margin-left: 28px;
}
.fba-copyright p {
    color: #aaaaaa;
    line-height: 30px;
}
  </style>
        <div class="footer-top-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <img src="../assets/logo.jpg" alt="">
                            <ul class="fta-list">
                                <li><a href="/posts/index"><span class="glyphicon glyphicon-chevron-right"></span> Dijital Girişimcilik</a></li>
                                <li><a href="/posts/danismanlikhizmet"><span class="glyphicon glyphicon-chevron-right"></span> Danışmanlık Hizmetleri</a></li>

                                <li><a href="/posts/markapatent"><span class="glyphicon glyphicon-chevron-right"></span>Marka Patent</a></li>
                                  <li><a href="/posts/digitalpara"><span class="glyphicon glyphicon-chevron-right"></span>Dijital Para</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">Danışmanlık Hizmetleri</h3>
                            <ul class="fta-list">
                                <li><a href="/posts/kosgeb">Kosgeb</a></li>

                                <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                                <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                                <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                                <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">Dijital Para</h3>
                            <ul class="fta-list">
                                <li><a href="/posts/gramaltin">Gram Altın</a></li>
                                  <li><a href="/posts/dolar">Dolar</a></li>

                                    <li><a href="/posts/euro">Euro</a></li>

                                <li><a href="/posts/bist">Bist-100</a></li>
                                 <li><a href="/posts/bitcoin">Bitcoin</a></li>


                              
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">İletişim</h3>
                            <ul class="fta-list">
                                <li>Address: Cumhuriyet Mah. Kadınana Cad. No:118/2/ AFYONKARAHİSAR</li>
                                <li>Phone: (0272) 215 43 23  GSM:0545 230 15 34</li>
                                <li>Email: turhan@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer-bottom">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="fba-copyright">
                                        <p>AYŞEGÜL SELEK /YAZILIM MÜHENDİSİ tarafından design edildi.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="fba-links">
                                        <ul>
                                            <li><a  href="/posts/index">Dijital Girişimcilik</a></li>

                                            <li><a href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a></li>

                                            <li><a href="/posts/markapatent">Marka Patent</a></li>

                                            <li><a href="/posts/digitalpara">Dijital Para</a></li>

                                            <li><a href="/posts/iletisim">İletişim</a></li>
                                        </ul>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>