<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <meta name="keywords" content="afiş">
    <meta name="description" content="Af-İş">

    <link rel="icon" href="http://www.af-is.com.tr/template/frontend/image/favicon.ico" type="image/x-icon">
    <link href="http://www.af-is.com.tr/template/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/index.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/style.css">

        <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/iletisim.css">
    </head>
<body>
   

    <nav id="ddmenu">
    
    <ul>
        <li class="full-width">
          
              <li class="no-sub"><a class="top-heading" href="/posts/index">Dijital Girişimcilik</a></li>
        </li>
        
        <li>
            <a class="top-heading" href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/kosgeb">Kosgeb</a></li>

                        <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                        <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                        <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                            <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <li class="no-sub">
            <a class="top-heading"href="/posts/markapatent">Marka Patent</a>
        </li>
            <li>
            <a class="top-heading"href="/posts/digitalpara">Dijital Para</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/gramaltin">Gram Altın</a></li>
      <li><a href="/posts/dolar">Dolar</a></li>

      <li><a href="/posts/euro">Euro</a></li>

      <li><a href="/posts/bist">Bist-100</a></li>

      <li><a href="/posts/bitcoin">Bitcoin</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="no-sub">
            <a class="top-heading"href="/posts/iletisim">İletişim</a>
        </li>
       
    </ul>
</nav>
  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
 <style >
   @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

h3 {
    font-size: 18px;
    font-size: 18px;
    font-size: 1.6rem;
}
.nopaddingleft {
    padding-left: 0;
}
.nopaddingright {
    padding-right: 0;
}
.overflownone {
    overflow: hidden!important;
}
.information {
    background: #2a3d46;
    position: relative;
    height: 400px;
}
.information h3 {
    font-size: 24px;
    font-size: 2.4rem;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    color: #FFF;
    padding: 0 10px;
}
.information .information_menu {
    padding: 0;
}
.information .information_menu li {
    list-style: none;
    position: relative;
}
.information .information_menu li.active {
    background: #0383c5;
}
.information .information_menu li.active:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 22px solid #0383c5;
    position: absolute;
    right: -22px;
    z-index: 1000;
    top: 0;
}
.information .information_menu li a {
    color: #FFF;
    display: block;
    padding: 16px 20px;
    font-size: 15px;
    font-size: 1.5rem;
    text-decoration: none;
}
.information .btn-emergency {
    background: #f89406;
    border: none;
    margin: 20px;
    display: block;
    width: 88%;
    color: #fff;
    text-shadow: none;
    padding: 0;
    font-size: 20px;
    font-size: 2rem;
}
.information .btn-emergency span {
    padding: 15px;
    display: block;
    background-size: 30px 30px;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, .15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.75, rgba(255, 255, 255, .15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear, 135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent;
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
}
.mobile-menu-bg {
    background: #2a3d46;
}
.information_menu_mobile {
    margin: 0px;
    padding: 0;
}
.information_menu_mobile li {
    padding: 0;
    float: left;
    width: 25%;
    list-style: none;
    text-align: center;
}
.information_menu_mobile li a {
    display: block;
    padding: 10px;
    color: #FFF;
    text-decaration: none;
}
.information_menu_mobile li:hover a {
    background: #0383c5;
    text-decaration: none;
}
.slideshow {
    overflow: hidden;
}
.slideshow .overlay-item  {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 360px;
    background: rgba(248, 148, 6, 0.67);
    height: 400px;
    padding: 10px 30px;
    display: none;
    -webkit-animation: opendoor 0.75s ease 0s alternate;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.slideshow .overlay-item.active {
    display: block;
    -webkit-animation: opendoor 0.75s ease 0s alternate;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.slideshow .overlay-item.inactive {
  display: block;
  -webkit-animation: closedoor 0.75s ease 0s alternate;
  transform-style: preserve-3d;
  opacity:0;
}
.slideshow .overlay-item .quickmenu  {
    padding: 0;
}
.slideshow .overlay-item .quickmenu li {
    list-style: none;
}
.slideshow .overlay-item .quickmenu li a {
    color: #FFF;
    display: block;
    padding: 8px 20px;
    font-size: 12px;
    font-size: 1.3rem;
    text-decoration: none;
}
#slider {
    padding: 0px;
    margin: 0px
}
#slider li {
    padding: 0px;
    list-style: none;
    position: absolute;
}
#carousel-example-generic {
    height: 400px
}
.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    filter: alpha(opacity=100);
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}
.item:nth-child(1) {
    background: #74C390;
    background-image: url(http://verimizleme.com/Images/Gorsel/tarim.png);
    background-size: cover;
}
.item:nth-child(2) {
    background: #51BCE8;
    background-image: url(https://www.kobi-line.com.tr/var/uploads/1465567818-untitled-s2s.png);
    background-size: cover;
}

.item:nth-child(3) {
    background: #51BCE8;
    background-image: url(http://idora.milliyet.com.tr/YeniAnaResim/2018/07/29/ak-parti-den-tarim-ve-hayvancilik-bulteni-12023025.Jpeg);
    background-size: cover;
}
@-webkit-keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}
@-webkit-keyframes in {
    from {
        -webkit-transform: scale(1.3);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes out {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.3);
    }
}
@-webkit-keyframes opendoor {
    from {
        -webkit-transform: perspective(1000px) rotateY(90deg);
        -webkit-transform-origin: 0% 50%;
    }
    to {
        -webkit-transform: perspective(1000px) rotateY(0deg);
        -webkit-transform-origin: 0% 50%;
    }
}
@-webkit-keyframes closedoor {
    from {
        opacity:1;
         -webkit-transform-origin: 0% 50%;
    }
    to {
        opacity:0;
        -webkit-transform-origin: 0% 50%;
    }
}
 </style>
<div class="container">
   <div class="row overflownone">
      <div class="col-md-4 information nopaddingleft nopaddingright hidden-sm hidden-xs">
         <h3>TKDK Destekleri</h3>
         <ul class="information_menu">
            <li class="active" data-id="1"><a href="#"></i> 101 - Tarımsal İşletmelerin Fiziki Varlıklarına Yönelik Yatırımlar </a></li>
            <li data-id="2"><a href="#"> 103 - Tarım ve Balıkçılık Ürünlerinin İşlenmesi ve Pazarlanması ile İlgili Fiziki Varlıklara Yönelik</a></li>
            <li data-id="3"><a href="#"> 302 - Çiftlik Faaliyetlerinin Çeşitlendirilmesi ve İş Geliştirme</a></li>
            
    
         </ul>
      
      </div>
      <div class="col-md-8 nopaddingleft nopaddingright">
         <div class="slideshow">
            <div class="overlay-id1 overlay-item">
               <h3>101 - Tarımsal İşletmelerin Fiziki Varlıklarına Yönelik Yatırımlar</h3>
                  <ul class="quickmenu">
                    <li><a href="#" title="#">•101.1 Süt Üreten Tarımsal İşletmeler</a></li>
                    <li><a href="#" title="#">• 101.2 Kırmızı Et Üreten Tarımsal İşletmeler</a></li>
                    <li><a href="#" title="#">• 101.3 Kanatlı Eti Üreten Tarımsal İşletmeler</a></li>
                    <li><a href="#" title="#">• 101.4 Yumurta Üreten Tarımsal İşletmeler</a></li>
                   
                </ul>
            </div>
            <div class="overlay-id2 overlay-item">
              <h3>103 - Tarım ve Balıkçılık Ürünlerinin İşlenmesi ve Pazarlanması ile İlgili Fiziki Varlıklara Yönelik</h3>
                  <ul class="quickmenu">
                    <li><a href="#" title="#">•103.1 Süt ve Süt Ürünlerinin İşlenmesi ve Pazarlanması</a> </li>
                    <li><a href="#" title="#">•103.2 Kırmızı Et ve Et Ürünlerinin İşlenmesi ve Pazarlanması</a></li>
                    <li><a href="#" title="#">• 103.3 Kanatlı Eti ve Et Ürünlerinin İşlenmesi ve Pazarlanması</a></li>
                    <li><a href="#" title="#">• 103.4 Su Ürünlerinin İşlenmesi ve Pazarlanması</a></li>
                    <li><a href="#" title="#">• 103.5 Meyve ve Sebze Ürünlerinin İşlenmesi ve Pazarlanması</a></li>
                </ul>
            </div>
            <div class="overlay-id3 overlay-item">
               <h3>302 - Çiftlik Faaliyetlerinin Çeşitlendirilmesi ve İş Geliştirme</h3>
                  <ul class="quickmenu">
                    <li><a href="#" title="#">•302.1 Bitkisel üretimin çeşitlendirilmesi ve bitkisel ürünlerin işlenmesi ve pazarlanması</a></li>
                    <li><a href="#" title="#">• 302.2 Arıcılık ve arı ürünlerinin üretimi, işlenmesi ve pazarlanması</a></li>
                    <li><a href="#" title="#">• 302.3 Zanaatkarlık ve yerel ürün işletmeleri,<br>
• 302.4 Kırsal turizm ve rekreasyon faaliyetleri</a></li>
                    <li><a href="#" title="#">302.5 Su Ürünleri Yetiştiriciliği</a></li>
                    <li><a href="#" title="#">302.6 Makine Parkları.</a></li>
                     <li><a href="#" title="#">302.7 Yenilenebilir Enerji Yatırımları.</a></li>
                </ul>
            </div>
          
            <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
               <!-- Indicators -->
               <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
               </ol>
               <!-- Wrapper for slides -->
               <div class="carousel-inner" role="listbox">
                  <div class="item active">
                     <div class="carousel-caption">
                       
                     </div>
                  </div>
                  <div class="item">
                     <div class="carousel-caption">
                       
                     </div>
                  </div>
                 
                    <div class="item">
                     <div class="carousel-caption">
                     
                     </div>
                  </div>
               </div>
               <!-- Controls -->
               <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="row visible-xs visible-sm ">
      <div class="col-md-12 mobile-menu-bg">
         <ul class="information_menu_mobile">
            <li class="active"><a href="/posts/tarimsalisletme"><i class="fa fa-calendar-plus-o"></i> <span class="hidden-xs">101</span></a></li>
            <li><a href="/posts/tarimvebalik"><i class="fa fa-commenting-o"></i> <span class="hidden-xs">103</span></a></li>
            <li><a href="ciftlik"><i class="fa fa-medkit"></i> <span class="hidden-xs">302</span></a></li>
           
         </ul>
         <div class="clearfix"></div>
      </div>
   </div>
</div>
<script >
  ;(function($){ 
   $(document).ready(function() {
    $('.information_menu').find('li').hover(function(e) {
        $('.information_menu').find('li').removeClass('active');
        $(this).addClass('active');
        $(".overlay-item").removeClass("active");
        $(".overlay-item").removeClass("inactive");
    $(".overlay-id"+$(this).data("id")).addClass("active").removeClass("inactive");
        $(".overlay-id"+$(this).data("id")).prev().addClass("inactive")
    });     
  
    $('.slideshow').children().on('mouseleave',function(e) {
    $(this).removeClass("active");
  });    
    
    $('.carousel').carousel();
   });
})(jQuery);

</script>
<br>





<div class="container">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
</style>
</head>


<h1 class="glow">101 - Tarımsal İşletmelerin Fiziki Varlıklarına Yönelik Yatırımlar</h1>
<table border="5">
  <th >
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="../assets/süt.jpg" alt="Snow" style="width:100%">
 
</div>
<a href="/posts/tarimsalisletme">
 <button class="btn">101.1 Süt Üreten Tarımsal İşletmeler</button></a>

  </th>


   <th style="line-height:1.5;">
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="../assets/et.jpg" alt="Snow" style="width:100%">

</div>
<a href="/posts/tarimsalisletme">
 <button class="btn">101.2 Kırmızı Et Üreten Tarımsal İşletmeler</button></a>

  </th>

 <th style="line-height:1.5;">
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 200%;
    max-width: 200px;
}

.container-tbl img {
    width: 200%;
    height: 200px;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="../assets/tavuk.jpg" alt="Snow" style="width:100%">

</div>
<a href="/posts/tarimsalisletme">
 <button class="btn">101.3 Kanatlı Eti Üreten Tarımsal İşletmeler</button></a>

  </th>
 <th>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="../assets/yumurta.jpg" alt="Snow" style="width:100%">
  
</div>
<br>
<br>
<a href="/posts/tarimsalisletme">
 <button class="btn">101.4 Yumurta Üreten Tarımsal İşletmeler</button></a>

  </th>
</table>
</div>



<br>
<br>
<br>
<br>
<br> 





<div class="container">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
</style>
</head>


<h1 class="glow">103 - Tarım ve Balıkçılık Ürünlerinin İşlenmesi ve Pazarlanması ile İlgili Fiziki Varlıklara Yönelik</h1>
<table border="5">
  <tr>
  <th >
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="../assets/süt.jpg" alt="Snow" style="width:100%">

</div>
<a href="/posts/tarimvebalik">
 <button class="btn">103.1 Süt ve Süt Ürünlerinin İşlenmesi <br>ve Pazarlanması</button></a>

  </th>


   <th style="line-height:1.5;">
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="../assets/et.jpg" alt="Snow" style="width:100%">

</div>
<a href="/posts/tarimvebalik">
 <button class="btn">103.2 Kırmızı Et ve Et Ürünlerinin <br>İşlenmesi ve Pazarlanması</button></a>

  </th>
</tr>
<tr>
 <th style="line-height:1.5;">
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 200%;
    max-width: 200px;
}

.container-tbl img {
    width: 200%;
    height: 200px;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="../assets/tavuk.jpg" alt="Snow" style="width:100%">
 
</div>
<a href="/posts/tarimvebalik">
 <button class="btn">103.3 Kanatlı Eti ve Et Ürünlerinin <br>İşlenmesi ve Pazarlanması
</button></a>


  </th>
 <th>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="http://www.adensu.com/image/content/mobilBanner.png" alt="Snow" style="width:100%">

</div>
<br>
<br>
<a href="/posts/tarimvebalik">
 <button class="btn">103.4 Su Ürünlerinin İşlenmesi ve  <br>Pazarlanması</button></a>

  </th>
 <th>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="http://www.sistek.biz/wp-content/uploads/2017/03/sistek-uygulamalar-taze-sebze-meyve.png" alt="Snow" style="width:100%">

</div>
<br>
<br>
<a href="/posts/tarimvebalik">
 <button class="btn">103.5 Meyve ve Sebze Ürünlerinin <br>İşlenmesi ve Pazarlanması</button></a>

  </th>

</tr>




</table>
</div>






<br>
<br>
<br>
<br>
<br>



<div class="container">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
</style>
</head>


<h1 class="glow">302 - Çiftlik Faaliyetlerinin Çeşitlendirilmesi ve İş Geliştirme</h1>
<table border="5">
  <tr>
  <th >
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="http://www.kentvizyonhaber.com/wp-content/uploads/2014/12/bitkisel_urun_sigortasi.png" alt="Snow" style="width:100%">

</div>
<a href="/posts/ciftlik">
 <button class="btn">302.1 Bitkisel üretimin çeşitlendirilmesi ve  <br> bitkisel ürünlerin işlenmesi ve pazarlanması</button></a>


  </th>


   <th style="line-height:1.5;">
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="https://1.bp.blogspot.com/-rLZJFKW7Aos/Wfs_7YxQAvI/AAAAAAAAAdU/chH9EXnbTWoSPSYu1TMawoy6YK6W6zS1wCLcBGAs/s1600/balc%25C4%25B1.PNG" alt="Snow" style="width:100%">
 
</div>
<a href="/posts/ciftlik">
 <button class="btn">302.2 Arıcılık ve arı ürünlerinin üretimi, <br> işlenmesi ve pazarlanması
</button></a>


  </th>

 <th style="line-height:1.5;">
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 200%;
    max-width: 200px;
}

.container-tbl img {
    width: 200%;
    height: 200px;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="https://www.tkdk.gov.tr/Content/images/302-3.png" alt="Snow" style="width:100%">

</div>
<a href="/posts/ciftlik">
 <button class="btn">302.3 Zanaatkarlık ve yerel ürün işletmeleri
</button></a>

  </th>
</tr>
<tr>
 <th>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="https://www.tkdk.gov.tr/Content/images/302-4.png" alt="Snow" style="width:100%">
 
</div>
<br>
<br>
<a href="/posts/ciftlik">
 <button class="btn">302.4 Kırsal turizm ve rekreasyon faaliyetleri
</button></a>

  </th>

  <th>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="http://www.aquapena.net/wp-content/uploads/2018/09/302-5.png" alt="Snow" style="width:100%">

</div>
<br>
<br>
<a href="/posts/ciftlik">
 <button class="btn">302.5 Su Ürünleri Yetiştiriciliği
</button></a>
</th>
  

 <th>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="https://www.tkdk.gov.tr/Content/images/302-6.png" alt="Snow" style="width:100%">
 
</div>
<br>
<br>
<a href="/posts/ciftlik">
 <button class="btn">302.6 Makine Parkları
</button></a>

  </th>
   <th>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container-tbl {
    position: relative;
    width: 250%;
    max-width: 250px;
}

.container-tbl img {
    width: 100%;
    height: auto;
}

.container-tbl .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container-tbl .btn:hover {
    background-color: black;
}
</style>
</head>



<div class="container-tbl">
  <img src="https://www.tkdk.gov.tr/Content/images/302-7.png" alt="Snow" style="width:100%">

</div>
<br>
<br>
<a href="/posts/ciftlik">
 <button class="btn">302.7 Yenilenebilir Enerji Yatırımları
</button></a>

  </th>
</tr>





</table>
</div>






</body>
</html>