<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <meta name="keywords" content="afiş">
    <meta name="description" content="Af-İş">

    <link rel="icon" href="http://www.af-is.com.tr/template/frontend/image/favicon.ico" type="image/x-icon">
    <link href="http://www.af-is.com.tr/template/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/index.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/style.css">

        <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/iletisim.css">
    </head>
<body>
     <header>
    <div class="container-fluid">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-phone fa-6" aria-hidden="true"></i>
                        <div class="tel">&nbsp;+90 272 215 44 15</div>
                    </div><!--colsm6-->
                    <div class="col-sm-6">
                        <div class="social">
                            <a href="https://www.facebook.com/afisdanismanlik/" target="_blank"><i class="fa fa-facebook fa-5" aria-hidden="true"></i></a>
                            <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter fa-5" aria-hidden="true"></i></a>
                            <a href="" target="_blank"><i class="fa fa-google-plus fa-5" aria-hidden="true"></i></a>
                            <a href="" target="_blank"><i class="fa fa-linkedin fa-5" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/proje.afis/" target="_blank"><i class="fa fa-instagram fa-5" aria-hidden="true"></i></a>
                        </div> <!--social-->
                    </div><!--colsm6-->
                </div><!--row-->
            </div><!--container-->
        </div><!--header-top-->
        
    </div> <!--container-fluid-->
</header>
<nav id="ddmenu">
    
    <ul>
        <li class="full-width">
          
              <li class="no-sub"><a class="top-heading" href="/posts/index">Dijital Girişimcilik</a></li>
        </li>
        
        <li>
            <a class="top-heading" href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/kosgeb">Kosgeb</a></li>

                        <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                        <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                        <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                            <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <li class="no-sub">
            <a class="top-heading"href="/posts/markapatent">Marka Patent</a>
        </li>
            <li>
            <a class="top-heading"href="/posts/digitalpara">Dijital Para</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/gramaltin">Gram Altın</a></li>
      <li><a href="/posts/dolar">Dolar</a></li>

      <li><a href="/posts/euro">Euro</a></li>

      <li><a href="/posts/bist">Bist-100</a></li>

      <li><a href="/posts/bitcoin">Bitcoin</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="no-sub">
            <a class="top-heading"href="/posts/iletisim">İletişim</a>
        </li>
       
    </ul>
</nav>
<div class="content">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 ">
                   <div class="col-sm-12 ust h">
                        <div class="col-sm-12">
                            <img src="https://www.logovector.org/wp-content/uploads/logos/png/t/tubitak_logo.png" width="300" class="destek-img">
                        </div>

                    </div>
  <p><font size="4" face="Times">
<strong>KURUM BİLGİLERİ</strong><br> <br> 

TÜBİTAK, 1963 yılında Türkiye’de planlı ekonomi döneminin başlangıcında kurulmuştur. Kuruluş aşamasında en temel görevleri, özellikle doğa ve mühendislik bilimlerinde temel ve uygulamalı akademik araştırmaları desteklemek ve genç araştırmacıları teşvik etmek, özendirmekti. Bu görevleri yerine getirebilmek amacıyla, temel bilimler, mühendislik, tıp, tarım ve hayvancılık alanlarında dört araştırma grubu (şimdi on araştırma grubunu içeren Araştırma Destek Programları Başkanlığı) ile Bilim Adamı Yetiştirme Grubu (şimdi Bilim İnsanı Destekleme Daire Başkanlığı) oluşturulmuştur.

<strong>TÜBİTAK Başkanlık ve enstitülerden oluşmaktadır.</strong>

Para-Kredi ve Koordinasyon Kurulunun sanayi kuruluşlarının ve özel kesimin teknoloji geliştirme ve yenilik faaliyetlerini teşvik etmek için verilecek devlet yardımlarının düzenlenmesine yönelik 4 Kasım 1998 tarihli 98/10 sayılı tebliği ile destek verilecek Ar-Ge projelerinin değerlendirilmesi görevi Dış Ticaret Müsteşarlığı (DTM) ile beraber TÜBİTAK’a verilmiştir. Bu amaçla Teknoloji İzleme ve Değerlendirme Başkanlığı (şimdi Teknoloji ve Yenilik Destek Programları Başkanlığı-TEYDEB) kurulmuştur. Hibe olarak verilen bu destekler daha önce tamamen DTM mali kaynaklarından karşılanırken, 2005 yılından itibaren bu desteklerin %25’i DTM, %75’i TÜBİTAK kaynaklarından karşılanmaya başlanmıştır. <br> <br>

TÜBİTAK, kuruluş kanunu gereği, uluslararası ikili ve çok taraflı bilimsel ve teknolojik işbirliği faaliyetlerinde Türkiye’yi temsil etmekte ve bu alandaki koordinasyonu sağlamaktadır. Bunun yanı sıra, Türkiye’nin 2003 yılından itibaren AB Çerçeve Programlarına tam katılımı sonrasında bu programların ulusal koordinasyonunu sağlamaktadır.
<br> <br> <br>

<strong>Destekler</strong> <br>
<br>

Bir özel sektör kuruluşu, TÜBİTAK’tan Ar-Ge projeleri için finansal destek alabilir; enstitülerle işbirliği içinde tüm test, analiz, sistem kurma ve geliştirme çalışmalarını yürütebilir; danışmanlık ve eğitim hizmetleri alabilir; uluslararası işbirlikleri geliştirebilir; bilim ve teknoloji dünyasıyla ilgili veri tabanlarından yararlanabilir. <br> <br>

<strong>A) TEYDEB SANAYİ AR-GE PROJE DESTEKLERİ</strong> <br> <br>

Ülkemiz sanayi kuruluşlarının Ar-Ge’ye daha fazla kaynak ayırmasını özendirmek, sanayi kuruluşlarının kendi arasında ve üniversitelerle daha yakın işbirlikleri ve ortaklıklar sağlamasını teşvik etmek amacıyla TÜBİTAK Yenilik ve Destek Programlığı Başkanlığı (TEYDEB) tarafından aşağıdaki destek programları yürütülmektedir. <br> <br>

1501 - Sanayi Ar-Ge Projeleri Destekleme Programı <br>
1503 - Proje Pazarları Destekleme Programı<br>
1507 - KOBİ Ar-Ge Başlangıç Destek Programı<br>
1508 - Teknoloji ve Yenilik Odaklı Girişimleri Destekleme Programı<br>
1509 - Uluslararası Sanayi Ar-Ge Projeleri Destekleme Programı<br>
1501 Sanayi Ar-Ge Projeleri Destekleme Programı<br>

1995 yılından beri TÜBİTAK ile Dış Ticaret Müsteşarlığı (DTM) işbirliği içinde yürütülmektedir. Program, firma düzeyinde katma değer yaratan kuruluşların Araştırma-Geliştirme (Ar-Ge) çalışmalarını teşvik etmek ve bu yolla Türk sanayisinin Ar-Ge yeteneğinin yükseltilmesine katkıda bulunmak üzere oluşturulmuştur.Ar-Ge projelerine %60’a kadar hibe desteği verilebilmektedir. Proje başvuruları sadece elektronik ortamda http://eteydeb.tubitak.gov.tradresindeki çevrimiçi uygulama (Proje Değerlendirme ve İzleme Sistemi -PRODİS) üzerinden yapılmaktadır. Söz konusu adresteki açıklamalar ve bilgilendirmeler doğrultusunda proje başvuruları yapılmalıdır. Posta vb. diğer yollarla başvuru yapılamaz. 
Ayrıntılı bilgi için http://www.tubitak.gov.tr/home.do?ot=1&sid=481&pid=478  <br>

<strong>1503 Proje Pazarları Destekleme Programı</strong><br>

Proje pazarları, <br>
somut Ar-Ge düşünce ya da proje önerilerine sahip olup, bunları gerçekleştirmek için kendi yetenekleri dışında başka uzmanlık alanlarında katkıya gereksinim duyan,
proje öneri veya sonuçlarına ilişkin talep varlığını araştıran,<br>
arz edilen proje işbirliği önerilerine teknolojik veya finansal katkıda bulunmak isteyen,<br>
üniversite, araştırma ve özel sektör kuruluşlarından temsilcilerin bir araya gelerek aktif katılımları ile projelerini birbirlerine tanıtmaları yoluyla işbirliği olanaklarına ortam oluşturulmasına yönelik düzenlenen ulusal ve/veya uluslar arası etkinliklerdir. Proje pazarlarının tanımı çerçevesindeki proje fikirleri ile ilgili olarak, bilgi ve görüş alışverişinin sağlanmasına ve Ar-Ge projelerine ilişkin teknolojik ve finansal işbirliklerinin oluşturulmasına yönelik üniversite, araştırma ve özel sektör kuruluşlarından temsilcilerin bir araya gelerek aktif katılımlarıyla düzenlenecek ulusal veya uluslararası etkinlik harcamalarının desteklenmesidir.<br><br>

2010 yılında her bir etkinlik için toplam destek tutarı en fazla 15.000 (on beş bin) TL, söz konusu etkinliğin uluslararası katılımlı olması durumunda toplam destek tutarı en fazla 20.000 (yirmi bin) TL olarak belirlenmiştir. Destek ödemeleri etkinlik öncesi yapılmaktadır.<br><br>

Etkinliğe ilişkin destek verilen harcama kalemleri nelerdir?

Basım ve kırtasiye giderleri: Etkinlik ile ilgili gerekli basım ve kırtasiye giderleri (davetiye, afiş, broşür, kitap, sarf malzemeleri, v.b),<br>
Posta ve kurye giderleri: Etkinlik ile ilgili yapılan posta ve kurye giderleri,<br>
Ulaşım ve konaklama giderleri: Üniversite ve araştırma kuruluşlarından etkinlik kapsamında proje fikriyle katılacak kişilere ait uçak, tren, otobüs, gemi ile yapılan şehirlerarası ve uluslararası ekonomi sınıfı ulaşım giderleri ile en fazla 100 (yüz) TL’ye kadar günlük konaklama giderleri.
sanayi odası,<br>
ticaret odası,<br>
ticaret ve sanayi odası,<br>
ihracatçı birliğinden<br>
herhangi biri veya daha fazlasının katılımcı olması zorunlu olup, bu katılımcı kuruluşlardan (üniversite, sanayi odası, ticaret odası, ticaret ve sanayi odası, ihracatçı birliği) herhangi biri TÜBİTAK’a etkinlik için destek başvurusunda bulunabilir. Sosyal bilimler ile İİBF kapsamındaki projeler değerlendirmeye alınmaz. Gidilecek proje etkinliği aşağıdaki tematik alanlarda olmalıdır.<br><br>

Bilişim Teknolojileri Grubu (BİLTEG )<br>
Biyoteknoloji, Tarım, Çevre ve Gıda Teknolojileri Grubu (BİYOTEG)<br>
Elektrik, Elektronik Teknolojileri Grubu (ELOTEG)<br>
Makine, İmalat Teknolojileri Grubu (MAKİTEG)<br>
Malzeme, Metalürji ve Kimya Teknolojileri Grubu (METATEG)
1507 KOBİ AR-GE Başlangıç Programı<br><br>

Ülkemizde, Ar-Ge faaliyetlerinin önemli bir bölümü büyük ölçekli işletmelerle sınırlı olup, ülke sanayinin %98’ini oluşturan KOBİ’lerin Ar-Ge faaliyetleri istenilen düzeyin altında kalmıştır. Bu da KOBİ’lerin rekabet edebilirliliğini, katma değer içindeki paylarını düşürmektedir. Bu program KOBİ’lerin Ar-Ge ve yenilik projeleri için farklılaştırılmış bir destek programıdır. Bu program kapsamında , yeni bir ürün üretilmesi, mevcut bir ürünün geliştirilmesi, iyileştirilmesi, ürün kalitesi veya standardının yükseltilmesi veya maliyet düşürücü nitelikte yeni tekniklerin, yeni üretim teknolojilerinin geliştirilmesi konularında KOBİ’ler tarafından yürütülen 400.000 YTL bütçe ve 18 ay süre ile sınırlı ilk iki projenin TÜBİTAK tarafından desteklenmektedir.<br><br><br>

Projelere program kapsamında sağlanacak desteklerle KOBİ’lerin,<br><br>

Teknoloji ve yenilik kapasitelerinin geliştirilerek daha rekabetçi olmaları
Sistematik proje yapabilme kapasitelerinin yükseltilmesi
Katma değeri yüksek ürün geliştirebilmeleri
Kurumsal araştırma teknoloji geliştirme kültürüne sahip olmaları hedeflenmektedir.
Proje başvuruları sadece elektronik ortamda http://eteydeb.tubitak.gov.tr adresindeki çevrimiçi uygulama (Proje Değerlendirme ve İzleme Sistemi -PRODİS) üzerinden yapılmaktadır. Söz konusu adresteki açıklamalar ve bilgilendirmeler doğrultusunda proje başvuruları yapılmalıdır. Posta vb. diğer yollarla başvuru yapılamaz. </font> </p>

                </div>

 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Magic Stores s.r.o.">

</head>
       
        
<div class="col-md-4 col-lg-4" >
    <div class="list-group">
    <a class="list-group-item" href="/posts/tkdkdestek" style="background-color: #56c8c5">TKDK DESTEKLERİ</a>
    <a class="list-group-item" href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a>
    <a class="list-group-item"href="/posts/kalkinmaajansdestek" style="background-color: #56c8c5">KALKINMA AJANSI DESTEKLERİ</a>
    <a class="list-group-item" href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a>
        <a class="list-group-item" href="/posts/avrupabirlikdestek" style="background-color: #56c8c5">AVRUPA BİRLİĞİ DESTEKLERİ</a>
    <a class="list-group-item" href="/posts/kosgeb">KOSGEB DESTEKLERİ</a>
  </div>
</div>          
    </div> 

  </div>
</div>
</div>

        </div>
    </div>
</div>













<footer class="footer-section bg-with-black">
    <head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
</head>
  <style >
    footer.footer-section {
    background: rgba(0, 0, 0, 0) url("https://steamusercontent-a.akamaihd.net/ugc/841462312537004306/7F7B796630528B63111AAB8B950D9F358CAC4219/") no-repeat scroll left top / cover;
    padding: 60px 0 50px;
    background-size: cover;
}
.bg-with-black {
    position: relative;
}
.footer-top-section {
    margin: 0 0 47px;
}
.single-fta > img {
    margin: 0 0 7px;
    width: 170px;
    height: 170px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.single-fta ul.fta-list li, .single-fta ul.fta-list li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 36px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.fta-title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 20px;
}

.fba-links {
    text-align: right;
}

.fba-links ul li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
}
.fba-links ul {
    list-style: outside none none;
    padding: 0;
}
.fba-links ul li {
    display: inline-block;
    margin-left: 28px;
}
.fba-copyright p {
    color: #aaaaaa;
    line-height: 30px;
}
  </style>
        <div class="footer-top-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <img src="../assets/logo.jpg" alt="">
                            <ul class="fta-list">
                                <li><a href="/posts/index"><span class="glyphicon glyphicon-chevron-right"></span> Dijital Girişimcilik</a></li>
                                <li><a href="/posts/danismanlikhizmet"><span class="glyphicon glyphicon-chevron-right"></span> Danışmanlık Hizmetleri</a></li>

                                <li><a href="/posts/markapatent"><span class="glyphicon glyphicon-chevron-right"></span>Marka Patent</a></li>
                                  <li><a href="/posts/digitalpara"><span class="glyphicon glyphicon-chevron-right"></span>Dijital Para</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">Danışmanlık Hizmetleri</h3>
                            <ul class="fta-list">
                                <li><a href="/posts/kosgeb">Kosgeb</a></li>

                                <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                                <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                                <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                                <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">Dijital Para</h3>
                            <ul class="fta-list">
                                <li><a href="/posts/gramaltin">Gram Altın</a></li>
                                  <li><a href="/posts/dolar">Dolar</a></li>

                                    <li><a href="/posts/euro">Euro</a></li>

                                <li><a href="/posts/bist">Bist-100</a></li>
                                 <li><a href="/posts/bitcoin">Bitcoin</a></li>


                              
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">İletişim</h3>
                            <ul class="fta-list">
                                <li>Address: Cumhuriyet Mah. Kadınana Cad. No:118/2/ AFYONKARAHİSAR</li>
                                <li>Phone: (0272) 215 43 23  GSM:0545 230 15 34</li>
                                <li>Email: turhan@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer-bottom">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="fba-copyright">
                                        <p>AYŞEGÜL SELEK /YAZILIM MÜHENDİSİ tarafından design edildi.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="fba-links">
                                        <ul>
                                            <li><a  href="/posts/index">Dijital Girişimcilik</a></li>

                                            <li><a href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a></li>

                                            <li><a href="/posts/markapatent">Marka Patent</a></li>

                                            <li><a href="/posts/digitalpara">Dijital Para</a></li>

                                            <li><a href="/posts/iletisim">İletişim</a></li>
                                        </ul>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>